{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "strict": "warn",
    "quotes": "warn",
    "camelcase": "warn",
    "no-underscore-dangle": "warn",
    "no-undef": "warn",
    "max-len": "warn",
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "no-shadow": "warn",
    "default-case": "warn",
    "no-confusing-arrow": "warn",
    "no-useless-constructor": "warn",
    "no-nested-ternary": "off",
    "no-mixed-operators": "off",
    "semi": ["warn", "never"],
    "comma-dangle": ["warn", "never"],
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "import/no-extraneous-dependencies": "warn",
    "import/extensions": ["warn", "never"],
    "react/no-multi-comp": "warn",
    "react/prop-types": "off",
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true }]
    }
}
